<!DOCTYPE html>
<html
	xlmns:th="hppt://www.thymeleaf.org">
<head>
    <div th:include="Head"></div>
</head>

<body>

    <div id="wrapper">

		<div th:include="Menu"></div>

        <div id="page-wrapper">
        	
        	<div class="rows">
        		<div class="col-lg-12">
        			<h1 class="page-header"></h1>
        		</div>
        	</div>
        
        	<div class="row">
        	
            	<div id="top" class="row">
				    <div class="col-md-3">
				    </div>
				 
				    <div class="col-md-6">
				        <div class="input-group h2">
				            <input name="data[search]" class="form-control" id="txt_consulta" type="text" placeholder="Pesquisar Itens" />
				            <span class="input-group-btn">
				                <button class="btn btn-primary" type="submit">
				                    <span class="glyphicon glyphicon-search"></span>
				                </button>
				            </span>
				        </div>
				    </div>
				 
				    <div class="col-md-3">
				        <a href="/membroComite/new" class="btn btn-primary pull-right h2">Novo Membro</a>
				    </div>
				</div>
				
				<div id="list" class="row">
				    <div class="table-responsive col-md-12">
				        <table id="tabela" class="table table-striped" cellspacing="0" cellpadding="0">
				            <thead>
				                <tr>
				                    <th>#</th>
	                                <th>Nome Membro</th>
	                                <th>Email</th>
	                                <th>Area Interesse</th>
	                                <th>Instituicao</th>
	                                <th>Funcoes</th>
				                    <th class="actions">Acoes</th>
				                 </tr>
				            </thead>
				            <tbody>
				                <tr th:each="membro : ${membros}" class="odd gradeX">
				                    <td> <span th:text="${membro.id}"></span> </td>
				                    <td> <span th:text="${membro.nome}"></span> </td>
				                    <td> <span th:text="${membro.email}"></span> </td>
				                    <td> <span th:text="${membro.areaInteresse}"></span> </td>
				                    <td> <span th:text="${membro.instituicao}"></span> </td>
				                    <td> <span th:text="${membro.funcoes}"></span> </td>
				                    <td class="actions">
				                        <a class="btn btn-success btn-xs" th:href="@{/membroComite/view/{id}(id=${membro.id})}">Visualizar</a>
				                        <a class="btn btn-warning btn-xs" th:href="@{/membroComite/edit/{id}(id=${membro.id})}" >Editar</a>
			                   		<a class="delete btn btn-sm btn-danger" th:href="@{/membroComite/delete/{id}(id=${membro.id})}">Excluir</a>
				                    </td>
				                </tr>
				 
				            </tbody>
				         </table>
				         
				         <script>
				            $('input#txt_consulta').quicksearch('table#tabela tbody tr');
				        </script>
				     </div>
				     <!-- /#bottom -->
				 </div> <!-- /#list -->
            </div>
             <!-- Modal -->
        </div>
        <!-- /#page-wrapper -->
        
    </div>
    <!-- /#wrapper -->
    
    <div th:include="scriptHtml"></div>
</body>

</html>
