<!DOCTYPE html>
<html xlmns:th="hppt://www.thymeleaf.org">
<head>
	<div th:include="Head" />
</head>

<body>

    <div id="wrapper">
		<div th:include="Menu" />

        <div id="page-wrapper">
        	
        	<div class="rows">
        		<div class="col-lg-12">
        			<h1 class="page-header"></h1>
        		</div>
        	</div>
        
        	<div class="row">
        	
            	<div id="top" class="row">
				    <div class="col-md-3">
				    </div>
				 
				    <div class="col-md-6">
				        <div class="input-group h2">
				            <input name="data[search]" class="form-control" id="txt_consulta" type="text" placeholder="Pesquisar Itens" />
				            <span class="input-group-btn">
				                <button class="btn btn-primary" type="submit">
				                    <span class="glyphicon glyphicon-search"></span>
				                </button>
				            </span>
				        </div>
				    </div>
				 
				    <div class="col-md-3">
				        <a href="/cadastrarConferencia" class="btn btn-primary pull-right h2">Nova Conferencia</a>
				    </div>
				</div>
				
				<div id="list" class="row">
				    <div class="table-responsive col-md-12">
				        <table id="tabela" class="table table-striped" cellspacing="0" cellpadding="0">
				            <thead>
				                <tr>
				                    <th>#</th>
	                                <th>Nome Conferencia</th>
	                                <th>Topicos Gerais</th>
	                                <th>Organizador</th>
	                                <th>E-mail</th>
				                    <th class="actions">Acoes</th>
				                 </tr>
				            </thead>
				            <tbody>
				                <tr th:each="conf : ${conferencias}" class="odd gradeX">
				                    <td> <span th:text="${conf.id}"></span> </td>
						            <td> <span th:text="${conf.titulo}"></span> </td>
						            <td> <span th:text="${conf.topicoGerais}"></span> </td>
						            <td> <span th:text="${conf.nomeOrganizador}"></span> </td>
						            <td> <span th:text="${conf.emailContato}"></span> </td>
				                    <td class="actions">
				                        <a class="btn btn-success btn-xs" th:href="@{/conferencia/edit/{id}(id=${conf.id})}">Visualizar</a>
				                        <a class="btn btn-warning btn-xs" th:href="@{/conferencia/edit/{id}(id=${conf.id})}" >Editar</a>
			                   		<a class="delete btn btn-sm btn-danger" th:href="@{/conferencia/delete/{id}(id=${conf.id})}">Excluir</a>
				                    </td>
				                </tr>
				 
				            </tbody>
				         </table>
				         
				         <script>
				            $('input#txt_consulta').quicksearch('table#tabela tbody tr');
				        </script>
				     </div>
				     <div id="bottom" class="row">
					    <div class="col-md-4">
				     	</div>
					    <div class="col-md-8">
					        <ul class="pagination">
					            <li class="disabled"><a>&lt; Anterior</a></li>
					            <li class="disabled"><a>1</a></li>
					            <li class="next"><a href="#" rel="next">Próximo &gt;</a></li>
					        </ul><!-- /.pagination -->
					    </div>
					</div> <!-- /#bottom -->
				 </div> <!-- /#list -->
            </div>
             <!-- Modal -->
        </div>
        <!-- /#page-wrapper -->
        
    </div>
    <!-- /#wrapper -->
    
    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../vendor/raphael/raphael.min.js"></script>
    <script src="../vendor/morrisjs/morris.min.js"></script>
    <script src="../data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
</body>

</html>
