<!DOCTYPE HTML5>
<html lang="pt-br">
<head>
  <meta charset="utf-8"></meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  
  <title>Login</title>
  
  <!-- Bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet"></link>
  <link href="css/style.css" rel="stylesheet"></link>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top">
		 <div class="container-fluid">
		  <div class="navbar-header">
		   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		   </button>
		   <a class="navbar-brand" href="#">Sistema de Conferência - Team01</a>
		  </div>
		  <div id="navbar" class="navbar-collapse collapse">
		   <ul class="nav navbar-nav navbar-right">
		    <li><a href="/">Início</a></li>
		    <li><a href="#">Opções</a></li>
		    <li><a href="#">Perfil</a></li>
		    <li><a href="#">Ajuda</a></li>
		   </ul>
		  </div>
		 </div>
		</nav>
	</div>
	
	<div class="container" style="margin-top: 100px;">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2>Login</h2>
			</div>
			<div class="panel-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="email" class="col-sm-2 control-label">E-mail:</label>
						<div class="col-sm-10">
							<input type="email" class="form-control" id="email"
								placeholder="Informe o E-mail" />
						</div>
					</div>

					<div class="form-group">
						<label for="senha" class="col-sm-2 control-label">Senha:</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="senha"
								placeholder="Informe a senha" data-minlength="6" /> <span
								class="help-block">Minimo seis (6) digitos</span>
						</div>
					</div>

					<div class="checkbox">
						<div class="col-sm-offset-2 col-sm-10">
							<label> 
								<input type="checkbox" value="remember-me" /> Remember me
							</label>
						</div>
					</div>
					<div class="col-sm-offset-2 col-sm-10">
						<a href="recuperarsenha.html">Recuperar Senha?</a> 
						<a href="precadastro.html">Cadastrar-se?</a>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-primary">Logar</button>
							<div class="help-block with-errors"></div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- jQuery (necessario para os plugins Javascript do Bootstrap) -->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>    
</html>


      
        