<!DOCTYPE html>
<html lang="en">

<head>
	<div th:include="Head" />
</head>

<body>

    <div id="wrapper">
		<div th:include="Menu"></div>

        <div id="page-wrapper">
        
        	<div class="row">
        		<div class="panel-heading">
        		
        		</div>
	        	<div class="panel panel-default">
	        		<div class="panel panel-heading">
	        			Cadastro de Membro Comite
	        		</div>
	        		
	        		<form class="form-horizontal" th:action="@{/membroComite/save}"  method="POST" th:object="${membroComite}">
                          <div class="tab-content">
                          
                          		<div class="form-group">
							    	<label for="id" class="col-lg-3 pull-lwft control-label" hidden="true" >id:</label>
							    	<div class="col-sm-10 col-lg-8" >
							    		<input class="form-control" placeholder="id da fase" name="id" th:field="*{id}" type="hidden"/>
							    	</div>
							    	<span class="col-xs-2 col-md-4" /> 
							    </div>
	                            
					            <div class="form-group">
							    	<label class="col-lg-3 pull-lwft control-label">Nome:</label>
							    	<div class="col-sm-10 col-lg-8" >
							    		<input class="form-control" placeholder="nome membro comite" name="nome" th:field="*{nome}" />
							    	</div>
							    	<span class="col-xs-2 col-md-4"></span> 
							    </div>
	                            
					            <div class="form-group">
							    	<label class="col-lg-3 pull-lwft control-label">Email:</label>
							    	<div class="col-sm-10 col-lg-8" >
							    		<input class="form-control" placeholder="email membro comite" name="email" th:field="*{email}" />
							    	</div>
							    	<span class="col-xs-2 col-md-4"></span> 
							    </div>
	                            
					            <div class="form-group">
							    	<label class="col-lg-3 pull-lwft control-label">Area interesse:</label>
							    	<div class="col-sm-10 col-lg-8" >
							    		<input class="form-control" placeholder="area interesse" name="areaInteresse" th:field="*{areaInteresse}" />
							    	</div>
							    	<span class="col-xs-2 col-md-4"></span> 
							    </div>
	                            
					            <div class="form-group">
							    	<label class="col-lg-3 pull-lwft control-label">Intituicao:</label>
							    	<div class="col-sm-10 col-lg-8" >
							    		<input class="form-control" placeholder="instituicao pertecente" name="instituicao" th:field="*{instituicao}" />
							    	</div>
							    	<span class="col-xs-2 col-md-4"></span> 
							    </div>
							    
							    <div class="form-group">
							    	<label for="idioma" class="col-lg-3 pull-lwft control-label">Funcoes:</label>
							    	<div class="col-sm-3 col-lg-3" >
							    		<select class="form-control" name="funcoes" th:field="*{funcoes}">
							    			<option value="membro">Membro</option>
							    			<option value="revisor">Revisor</option>
							    			<option value="presidente">Presidente</option>
							    		</select>
							    	</div>
							    </div>
							    
							    <div class="form-group">
							    	<label for="idioma" class="col-lg-3 pull-lwft control-label">Comite:</label>
							    	<div class="col-sm-3 col-lg-3" >
							    		<select class="form-control" name="funcoes" th:field="*{comite}">
							    			<option value="membro" th:each="comite : ${comites}" th:value="${comite}" th:text="${comite.descricao}"></option>
							    		</select>
							    	</div>
							    </div>
	                            
							    <div class="form-group">
							    	<label class="col-lg-3 pull-lwft control-label" />
						        	<div class="col-sm-4 col-lg-3" >
							    	<ul class="nav navbar-top-links navbar-right">
		                        		<li>
		                        			<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
		                        		</li>
		                        		<li>
		                        			<a th:href="@{/membroComite/cancel}" class="btn btn-sm-10 ">Cancelar</a>
		                        		</li>
					        		</ul>
						    		</div>
								</div>
							</div>
							
				    	</form>
                    </div>
            </div>
        </div>
    </div>
    
    <div th:include="scriptHtml"></div>
</body>

</html>
